@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

* {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
}

body{
	background-color: #e6ecf0;
}
small{ 
	font-size: 12px;
 }

small>a{ 
	font-size: 12px;
 }


.top-bar {
	padding: 0px 5%;
	font-weight: 500;
}


.nav-pills-custom>li>a {
	color: darkgrey;
	font-size: 20px;
}

.nav-pills-custom>li>a:focus,
.nav-pills-custom>li>a:hover {
	background: none;
	color: blue;
}

.panel-custom>.panel-heading {
	background: none;
	border-bottom: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #4ab3f4;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #4ab3f4 !important;
}

.navbar-default .navbar-nav>.active>a:hover {
	text-decoration: none;
	color: 	#333 !important;
}

.form-control-nav{
	background-color:#e6ecf0;
	border: transparent solid 1px;
	border-radius:15px;
	height: 30px;
	width: 200px;

}

.navbar-default .navbar-collapse, .navbar-default{
background-color: white;
}
.panel-footer{
	background-color: #ffffff;
}
.well{
	background-color: #ffffff;
}
a{
	color:#73a1f2;
}
div.panel-heading{
	padding-top:15px;
	padding-bottom: 0px;
}
.form-control-feedback{
	line-height:27px;
}
.panel-info{
	border:1px lightgrey solid;
}

.panel-body>.list-unstyled>li>a {
	font-weight: bold;
}

.panel-body>.list-unstyled>li>span {
	color: #657786;
	font-size: 12px;
}

.panel-body>.media>a>img {
	height: 48px;
	width: 48px;
	margin-top: 10px;
}

.well>.list-inline>li>a {
	color: #657786;
}


